# Игнорирую папку сборки и папку сборки с отслеживанием покрытия
cmake-build-debug/
cmake-build-debug-coverage
html
latex
#Catch2
temporary
.idea/
.idea
# Игнорирование файлов, которые не нужно отслеживать
# файлы с расширением .a, .lib, .so, .dylib, .dll (опционально)
*.a
*.lib
*.so
*.dylib
*.dll
# все другие временные и сгенерированные файлы (опционально)
*.o
*.exe
*.out
*.user
*.png
*.xml